<div style="text-align: center; line-height: 2; margin-top:120px; margin-bottom: 120px; text-transform: none;">
<h2 style="font-size: 26px">Niestety nie znaleźliśmy żadnych motocykli dla tego zapytania</h2>
<br>
<span class="lnr lnr-magnifier" style="font-size: 42px;"></span><br><br>
<h3 style="font-size: 22px">Wyślij mail z informacją jakiego motocykla nie udalo się odnaleźć</h3>
</div>
<%- include('../../views/components/artCafels.ejs', { recent: recent, title: 'Ostatnio Oglądane' }); -%>
