<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" />
  <link rel="stylesheet" href="/admin/css/main.css" />
</head>

<body>
  <div class="home dog-app">
    <%- include('./menu.ejs'); -%>

      <% manufactories.forEach(function(factory) { %>
        <%- include('./manufactories/factoryItem.ejs', { factory: factory }); -%>

          <% }); %>
  </div>
</body>

</html>
