

<header class="app-header">
  <nav class="app-nav">
    <ul class="app-nav__list">
      <li class="app-nav__list-item"><a class="app-nav__link" href="/admin/manufactories">manufactories</a></li>
      <li class="app-nav__list-item"><a class="app-nav__link" href="/admin/specs">specs</a></li>

      <!-- <li class="app-nav__list-item"><a class="app-nav__link" href="/admin/clients">clients</a></li>
      <li class="app-nav__list-item"><a class="app-nav__link" href="/admin/functions">function</a></li>
      <li class="app-nav__list-item"><a class="app-nav__link" href="/admin/reviews">reviews</a></li> -->
      <!-- <li class="app-nav__list-item"><a class="app-nav__link" href="/admin/konkurs">konkurs</a></li> -->
      <!-- <li class="app-nav__list-item"><a class="app-nav__link" href="/admin/places">places</a></li> -->
      <!-- <li class="app-nav__list-item"><a class="app-nav__link" href="/admin/roads">roads</a></li> -->
      <!-- <li class="app-nav__list-item"><a class="app-nav__link" href="/admin/seo-category">SEO Category</a></li>
      <li class="app-nav__list-item"><a class="app-nav__link" href="/admin/seo-factory">SEO Factory</a></li> -->

      <li class="app-nav__list-item"><a class="app-nav__link" href="/admin/home">home</a></li>
    </ul>
  </nav>
</header>
