<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" />
  <link rel="stylesheet" href="/admin/css/main.css" />
</head>

<body>
  <div class="home dog-app">
    <%- include('./menu.ejs'); -%>
      <% details.forEach(function(specs) { %>
        <%- include('./specs/specsItem.ejs', { specs: specs }); -%>

          <% }); %>

  </div>
</body>

</html>
